* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

header {
  height: 50%;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

main {
  height: 50%;
  background: hsla(0, 0%, 40%, 1);
  padding-top: 72px;
}

.max-width-wrapper {
  max-width: 808px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: hsla(0, 0%, 100%, 1);
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.indented-heading {
  background: hsla(45, 100%, 50%, 1);
  width: fit-content;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: -32px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}

.intro-chunk {
  padding-left: 32px;
  padding-right: 32px;
}
